#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0

&mt { flavor = "tap-preferred"; };

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        def {
            display-name = "Default";
            bindings = <
          &kp Q       &kp W       &kp E        &kp R        &kp T      &kp Y    &kp U            &kp I        &kp O       &kp P
          &mt LGUI A  &mt LALT S  &mt LCTRL D  &mt LSHFT F  &kp G      &kp H    &mt RSHFT J      &mt RCTRL K  &mt RALT L  &mt RGUI SEMI
&kp BSPC  &kp Z       &kp X       &kp C        &kp V        &kp B      &kp N    &kp M            &kp COMMA    &kp DOT     &kp FSLH       &kp SQT
                                  &kp ESCAPE   &lt 1 SPACE  &kp TAB    &kp RET  &lt 2 BACKSPACE  &kp DEL
            >;
        };

        sym-num {
            bindings = <
        &kp EXCL   &kp AT            &kp HASH           &kp DLLR              &kp PERCENT              &kp EQUAL      &kp N7  &kp N8  &kp N9  &kp MINUS
        &kp CARET  &kp AMPERSAND     &kp STAR           &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp BACKSLASH  &kp N4  &kp N5  &kp N6  &kp PLUS
&trans  &kp GRAVE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE        &kp RBRC                 &kp N0         &kp N1  &kp N2  &kp N3  &kp SLASH  &trans
                                     &trans             &trans                &trans                   &trans         &mo 3   &kp N0
            >;

            display-name = "Symbols & Numbers";
        };

        nav {
            bindings = <
        &trans        &trans        &trans      &trans          &kp C_VOL_UP        &kp PG_UP  &kp HOME   &kp UP     &kp END    &trans
        &kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL   &kp LEFT_SHIFT  &kp C_VOL_DN        &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &trans
&trans  &trans        &trans        &kp C_PREV  &kp C_NEXT      &kp C_PLAY_PAUSE    &trans     &kp PG_DN  &kp PG_UP  &trans     &trans  &trans
                                    &trans      &mo 3           &kp C_MUTE          &trans     &trans     &trans
            >;

            display-name = "Navigation";
        };

        fun {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F10
        &trans  &trans  &trans  &trans  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F12  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            display-name = "Functions";
        };
    };
};
